@use '../utilities' as ut;
@use './form';

body {
  @include ut.alignCenter();
  background-color: rgb(72, 72, 72);
  width: 100vw;
  height: 100vh;
}

main,
button {
  color: white;
}

main {
  min-width: max-content;
  background-color: rgb(87, 87, 87);
  padding: 100px;
  border-radius: 20px;
}

.title {
  text-align: center;

  h3 {
    font-size: large;
    font-weight: 600;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 10px;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  .links {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      color: white;
      font-size: small;
      font-weight: 600;
    }

    button {
      background-color: rgba(255, 255, 255, 0.299);
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}