@use '../reset';
@use '../utilities' as ut;
@use 'var' as v;

body {
  width: 100vw;
  height: 100vh;
  background: black;
}

header {
  @include ut.alignCenter();
  min-height: v.$navbar-height;
  color: white;
  background-color: v.$navbar-bg-color;
}

.navbar {
  width: 90%;

  .logo {
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
}