<section class="filed-section email_section">
  <label for="username" class="field-lable">Username</label>
  <input name="username" type="text" id="username" placeholder="Enter your username">
</section>
<section class="filed-section password-section">
  <label for="Password" class="field-lable">Password</label>
  <input name="password" type="password" id="Password" placeholder="Enter your password">
</section>